meta(charset="utf-8")
title= title
//meta
meta(name="description", content="あ")
meta(name="keywords", content="あ")
meta(name="format-detection" content="telephone=no")
meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no")

// ogp
meta(property="og:url", content=url)
meta(property="og:title", content=title)

meta(property="og:site_name", content=site_name)
meta(property="og:description", content=description)

// twitter_card

meta(property="twitter:title", content=title)
meta(property="twitter:description", content=description)

meta(property="twitter:site", content=twitter_card_owner)
meta(property="twitter:creator", content=twitter_card_owner)

// stylesheet
link(rel="stylesheet", href="./../css/styles.css")

// javascript
script(src="../js/app.js")
